@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/game.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
    color: white;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(assets/abstract.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em;
    border-radius: 50px;
}


.exp {
    font-size: 3.5rem;
    font-family: 'Indie Flower'; 
    margin-top: 1em;
    margin-bottom: 1em;
}

.first-input {
    padding-top: 4em;
    padding-bottom: 3em;
}

#input {
    margin-left: 1em;
}

.options {
    margin-bottom: 2em;
}

select {
    margin-left: 2em;
    border: none;
    outline: none;
    font-family: 'Poppins';
    font-size: 17px;
    width: 150px;
    height: 60px;
    padding-left: 1.5em; 
}


.rounds {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(140, 47, 158);
    width: 25%;
    padding: .7em;
    text-align: center;
    font-size: 25px;
    font-family: 'Russo One';
}

.second-input {
    margin-bottom: 3em;
}

label {
    font-size: 20px;
}

input {
    text-align: center;
    font-size: 25px;
    outline: none;
    width: 160px;
    height: 60px;
    font-family: 'Poppins';
}

#guess {
    margin-left: 7.3em;
}

.arrow {
    position: absolute;
    transition: ease .5s;
    opacity: 0;
    margin-left: -1em;
} 

.result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 1.2em 2em;
    font-size: 30px;
    font-family: 'Poppins';
    border-radius: 50px;
    background-color: rgb(67, 219, 168);
    cursor: pointer;
    display: none;
} 

.text1 {
    position: absolute;
    font-size: 2.5rem;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.text2 {
    position: absolute;
    font-size: 2.5rem;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

#timer {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    display: none;
}

.submit-btn {
    font-size: 16px;
    width: 135px;
    height: 70px;
    margin-left: 0;
    margin-top: 1em;
    background-color: rgb(67, 219, 168);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#submit-btn2 {
    display: none;
}

a {
    text-decoration: none;
}

.submit-btn:hover {
    transition: transform .5s;
    transform: scale(1.08);
}

.guess-information {
    margin-top: 2em;
}


.high-guess, .low-guess, .right-guess, .no-input {
    font-size: 1.2rem;
    position: absolute;
    opacity: 0;
} 

.alert1, .alert2, .alert3 {
    position: absolute;
    top: 0;
    background-color: green;
    padding: 1em;
    border-radius: 10px;
    animation: fadeOut 1s ease; 
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.alert1 {
    background-color: rgb(35, 155, 35);
}

.alert2, .alert3 {
    background: rgb(171, 59, 59);
}


.ins-btn {
    position: absolute;
    right: 80px;
    top: 15px;
    font-family: 'Poppins';
}
