@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-image: url(assets/game-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100vh;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 1.5em 0;
  position: relative;
}

.alerts {
  display: flex;
}

.alert1,
.alert2,
.alert3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(5, 179, 5);
  padding: 1em;
  border-radius: 10px;
  display: none;
}

.alert2,
.alert3 {
  background-color: red;
}

.game-instructions {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7em;
  border-radius: 10px;
  background-color: rgb(7, 202, 202);
  color: white;
}

.game-instructions:hover {
  background-color: rgb(7, 182, 182);
}

/* Game heading, rounds */

.game-title {
  font-family: "Indie Flower";
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1em;
  border-bottom: 2px solid white;
}

.game-rounds-container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.rounds {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 1em 2em;
  font-size: large;
}

/* Gaming board elements */

.game-board {
  background-color: #1220a3;
  color: white;
  margin-top: 2em;
  padding: 1.9em 3em 4em 3em;
  position: relative;
}

.game-information {
  display: flex;
  justify-content: center;
}

.high-guess,
.low-guess,
.right-guess,
.no-input {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  background-color: rgb(5, 179, 5);
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 1em;
  opacity: 0;
}

.no-input {
  background-color: red;
}

.game-elements {
  padding-top: 4em;
}

select,
input {
  margin: 1em 0;
  width: 130px;
  height: 60px;
  outline: none;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.1rem;
}

label {
  font-size: 1.1rem;
}

.guess-result {
  margin-top: 1em;
}

/* User result elements, text */

.final-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #1220a3;
  margin-top: 2em;
  display: none;
}

#guesses,
#points {
  padding-top: 2em;
}

#points {
  padding-bottom: 2em;
}

.text-container {
  width: 100%;
  text-align: center;
}

.result {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  font-size: 2rem;
  display: none;
}

.submit-btn,
h2 {
  display: none;
}

/* Finishing touches */

@media (max-width: 520px) {
  .game-title {
    font-size: 2rem;
  }
  .rounds {
    padding: 1em 1.5em;
    font-size: medium;
  }
  .alert1,
  .alert2,
  .alert3 {
    font-size: 14px;
    left: 30%;
  }
}

@media (max-width: 390px) {
  .game-title {
    padding: 1em 0.5em 0 0.5em;
  }
}
